body{
    background-color: #112233;
    color: red;
}
form{
    padding: 50px;
    font-size:1.5rem;
}
input{
    padding: 10px;
    border: 2px solid white;
}
span{
    margin: 50px;
    display: block;
}

#btn{
    display: inline-block;
    padding-left:150px;
}
